:root {
    
    /* COLORS */
    --color-background:#009b95 ;
    --color-secondary: #49c5b6;
    --color-white: #f0f0f0;
    --color-gray: #9C9C9C;
    --color-black: #16252a;
    --color-button: #96ece2;

    /* FONT */
    --font-family-default: 'Hanken Grotesk', sans-serif;
    --font-family-title: 'Inter', sans-serif;
    --font-family-ai: 'Roboto Mono', monospace;

    --fw-thin: 300;
    --fw-regular: 400;
    --fw-bold: 600;
    --fw-black: 800;

    --fs-200: 0.8rem;
    --fs-300: 1rem;
    --fs-400: 1.1rem;
    --fs-500: 1.8rem;
    --fs-600: 2rem;
    --fs-700: 2.4rem;
    --fs-800: 3.2rem;
    --fs-900: 5rem;

    --color-text: #e0def4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font: inherit;
}

body { 
    font-family: var(--font-family-default);
    font-weight: var(--fw-bold);
    font-size: var(--fs-500);
    background-color: var(--color-background);
    overflow-x: hidden;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

  /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! HOME PAGE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* NAVBAR */

nav {
    font-family: var(--font-family-title);
    font-weight: var(--fw-bold);
    font-size: var(--fs-400);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-height: 8rem;
}

nav img {
    max-width: 100%;
    max-height: 7rem;
}

.nav-button {
    color: var(--color-text);
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;   
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 367px) {
    .nav-button {
        width: 5rem;
    }
}

.nav-button:hover {
    background-color: #16252a9a;
    transition: all 0.3s ease-in-out;
}

/* TITLE */

.title {
    font-family: var(--font-family-title);
    font-weight: var(--fw-black);
    font-size: var(--fs-900);
    color: var(--color-text);
    text-align: center;
    margin: 2rem 0;
}

.title span {
    color: var(--color-black);
}

.title h2 {
    font-size: var(--fs-800);
    color: var(--color-secondary);
    margin-bottom: 1rem;
    margin: 1rem 1rem;
}

.title p {
    font-size: var(--fs-400);
    color: var(--color-text);
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: var(--fs-700);
    }

    .title h2 {
        font-size: var(--fs-600);
    }
}

/* START BUTTON */

.button {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.button-style {
  background-color: var(--color-text);
  border: 2px solid var(--color-black);
  font-size: var(--fs-400);
  border-radius: 3rem;
  box-shadow: var(--color-black) 4px 4px 0 0;
  color: var(--color-black);
  cursor: pointer;
  display: inline-block;
  padding: 0.8rem 1rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-style:hover {
  background-color: var(--color-button);
}

.button-style:active {
  box-shadow: var(--color-black) 2px 2px 0 0;
  transform: translate(2px, 2px);
}

/* ABOUT SECTION */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
    text-align: center;
}

.about span {
    color: var(--color-black);
}

.about h3 {
    font-size: var(--fs-700);
    color: var(--color-text);
    max-width: 50rem;
    
}

.about p {
    font-family: var(--font-family-ai);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    color: var(--color-text);
    max-width: 50rem;
}

.about-1, .about-2 {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: row;
    gap: 5rem;
    margin: 0 10rem;
}

.divider {
    border-bottom: 4px dotted var(--color-black);
    max-width: 100rem;
    width: 80%;
    margin: 5rem 15rem;
}

@media screen and (max-width: 960px) {
    .about-1, .about-2 {
        flex-direction: column;
        margin: 0 3rem;
        gap: 3rem;
    }
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 100%;

}

footer img {
    max-height: 2rem;
}

/* SCROLL BAR */

/* width */
    ::-webkit-scrollbar {
        width: 0.4rem;
    }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-black);
    border-radius: 10px;
  }


  /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! INTERVIEW PAGE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* NAVBAR */

.navtitle {
    font-size: var(--fs-500);
}

.navtitle a{
    color: var(--color-text);
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .navtitle {
        font-size: var(--fs-400);
    }
}

/* AI SECTION */

.ai-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ai-section span {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.ai-section img {
    max-width: 100%;
    max-height: 7rem;
}

.visual-audio {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background: radial-gradient(var(--color-black), var(--color-background) 35%);;
}

.ai-response {
    resize: none;
    width: 100%;
    height: 100%;
    margin: 0rem auto;
    font-family: var(--font-family-ai);
    font-size: var(--fs-300);
    color: var(--color-black);
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: 2rem;
    background-color: var(--color-secondary);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.ai-response:focus {
    outline: none;
}

.ai-text {
    width: 30rem;
    height: 15rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.speaker {
    position: absolute;
    bottom: 0.4rem;
    right: 0.7rem;
    width: 2.8rem;
    height: 1.7rem;
    font-size: var(--fs-200);
    text-align: center;
    padding: 0;
}

    /* PULSE ANIMATION */

.pulse {
    position: relative;
    animation: pulse 2s infinite;
    width: 1rem;
    height: 1rem;
    background-color: var(--color-secondary);
    border-radius: 50%;
}

.pulse span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    opacity: 0.8;
}

.pulse-mute {
    animation: none;
    background-color: var(--color-black);
}

.pulse-active {
    animation: pulseAnimate 1s ease-out infinite;
    animation-delay: calc(0.25s*var(--i));
}

@keyframes pulseAnimate {
    100% {
        opacity: 0;
        transform: scale(3);     
    }
}

.begin-interview {
    margin-top: 0.5rem;
    font-family: var(--font-family-title);
    font-weight: var(--fw-black);
}


/* QUESTIONS */

.question-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 40rem;
    margin: 6rem auto;
    gap: 2rem;
}

.questions-area {
    resize: none;
    width: 100%;
    height: 100%;
    font-family: var(--font-family-ai);
    font-size: var(--fs-200);
    color: var(--color-black);
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--color-text);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

@media screen and (max-width: 768px) {
    .question-form {
        width: 80vw;
    }

    .ai-text {
        width: 70vw;
    }

    .text-to-speech {
        max-width: 70vw;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* TEXT-TO-SPEECH AREA */

.text-to-speech {
    width: 30rem;
    height: 15rem;
    margin: 6rem auto;
    position: relative;
}

.text-to-speech-area{
    resize: none;
    width: 100%;
    height: 100%;
    margin: 0rem auto;
    font-family: var(--font-family-ai);
    font-size: var(--fs-200);
    color: var(--color-black);
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: 2rem;
    background-color: var(--color-text);
}

.sumbit-ans-btn {
    position: absolute;
    bottom: 0.4rem;
    right: 0.7rem;
    width: 3.4rem;
    height: 1.7rem;
    font-size: var(--fs-200);
    text-align: center;
    padding: 0;
}

.box-shadow {
    animation: boxShadowAnimate 0.35s ease-in-out infinite alternate;
}

@keyframes boxShadowAnimate {
    100% {
        box-shadow: rgba(14, 30, 37) 0px 2px 4px 0px, rgb(14, 30, 37) 0px 2px 16px 0px;
    }
}
    


